nav{
    background-color:#6c757d;
    height: 100px;
}
.nav-link{
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family:sans-serif;
    padding-top: 20px;
}

.logo{
    height: 160px;
    margin-left: 25px;
    margin-top: -60px;
  
}
.hero{
    background:rgb(13, 151, 13)
}